# Задание 2. Вывести 5 айпи-адресов, которые встречаются чаще других.

In [1]:
import pandas as pd

data = pd.read_csv('/Users/garynich/Documents/Tetrica School/hits.txt', sep="\t", header=None)
data.columns = ['link', 'ip', 'page']
data.head()

,link,ip,page
0,https://wikipedia.org,72.110.191.15,/friends/files
1,rambler.ru,142.93.168.247,/universe.php
2,ftp://info.itar-tass.com,90.68.118.69,/login/monitors/static/me
3,http://altavista.com,18.79.197.236,/friends/tasks/universe
4,ftp://tetrika-school.ru,115.26.250.226,/translate/anekdots/my-files/monday

In [2]:
answer = data.groupby('ip').agg('count').sort_values(by  = 'link', ascending = False).head(5)
answer = answer.drop(['page'],axis = 1)
answer.columns = ['count']

answer

                 count
ip
154.157.157.156   1531
82.146.232.163    1505
226.247.119.128   1494
194.78.107.33     1494
21.143.243.182    1479

In [3]:
for each in answer.index:
    print(each)

154.157.157.156
82.146.232.163
226.247.119.128
194.78.107.33
21.143.243.182

# =========================
# Ответ: 5 айпи-адресов, которые встречаются чаще других:

154.157.157.156

82.146.232.163

226.247.119.128

194.78.107.33

21.143.243.182